html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/* Свои доработки */

.clear{
    clear: both;
}

.left{
    float: left;
}

.fRight{
    float: right;
}

#leftMenuContainer{
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    background: #F7F7F7;
}

.leftMenuItem{
    font-size: 20px;
}

.leftMenuItem a{
    text-decoration: underline;
}

.newBigBlockContainer{
    background: #F7F7F7;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.newBigBlockTitle{
    font-weight: bold;
}

.newBigBlockDate{
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 0 0;
    color: #666;
}

.newBigBlockImg{
    float: left;
}

.newBigBlockImg img{
    width: 100px;
    margin: 10px 10px 0 0;
}

.newBigBlocClear{
    clear: both;
}

.newBigBlockAnons{
    margin: 10px 0 0 0;
}

h1{
    font-size: 24px;
}

.newsShowItemBacklink{
    margin: 20px 0 0 0;
}

.newsShowItemText{
    line-height: 22px;
    margin: 20px 0 0 0;
}

.newsShowItemDate{
    font-weight: bold;
    font-size: 12px;
    margin: 20px 0 0 0;
    color: #666;
}

.newsShowItemImg{
    float: left;
}

.newsShowItemImg img{
    width: 200px;
    margin: 20px 20px 0 0;
}

.newsShowItemClear{
    clear: both;
}